@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome de Cliente e Produto</h1>
    <p>Desenvolvr sistema s para mue cresicmento profisisonal evoluindo da melhor forma para uma esutdo dedicado exponencial, sempre me dedicando a melhoria continua do projeto, para se tornar um profissional exemplar, para poder adquirir expeirencia profisisonal evoluitiva, no aprimoramento, sempre dedicando a minha vida no projeto e construindo novos projetos para a melhoria conrtinua da minha area de atuãção.</p>
</div>
