@model WebProjetoCliente.Models.ClienteView
@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<h2 class="mt-4 mb-3 text-primary">Cadastro de Cliente</h2>

<form asp-controller="Cliente" asp-action="CadastrarCliente" method="post" class="mt-4">
    <div class="mb-3">
        <label asp-for="NomeCliente" class="form-label"></label>
        <input asp-for="NomeCliente" class="form-control" />
        <span asp-validation-for="NomeCliente" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EmailCliente" class="form-label"></label>
        <input asp-for="EmailCliente" class="form-control"  />
        <span asp-validation-for="EmailCliente" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cpf" class="form-label"></label>
        <input asp-for="Cpf" class="form-control" />
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}